<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="LocalNet">
			<section name="Info" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<sectionGroup name="RemoteNet">
			<section name="Info" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
		<sectionGroup name="SpriteLocations">
			<section name="Info" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	
	<LocalNet>
		<Info>
			<add key="LocalChannel" value="SpriteInfoManagerB" />
			<add key="LocalIP" value="192.168.1.100" />
			<add key="LocalPort" value="1236" />
		</Info>
	</LocalNet>
	
	<RemoteNet>
		<Info>
			<add key="RemoteChannel" value="SpriteInformationA" />
			<add key="RemoteURI" value="http://192.168.1.100:1234/SpriteInfoManagerA" />
		</Info>
	</RemoteNet>
	
	<SpriteLocations>
		<Info>
			<add key="PlayerOne" value="Local" />
			<add key="PlayerTwo" value="Remote" />
			<add key="Bubbles" value="Remote" />
			<add key="Platforms" value="Remote" />
			<add key="Polls" value="Remote" />
			<add key="Weapons" value="Remote" />
		</Info>
	</SpriteLocations>
	
	<appSettings>
		<add key="SpriteA" value="../../Resources/final_sprite_sheet_1024.bmp" />
		<add key="SpriteB" value="../../Resources/final_sprite_sheet_1024a.bmp" />
		
		<add key="Platform" value="../../Resources/platform.bmp" />
		
		<add key="PollTop" value="../../Resources/poll_top.bmp" />
		<add key="PollCenter" value="../../Resources/poll_center.bmp" />
		<add key="PollBottom" value="../../Resources/poll_bottom.bmp" />
		
		<add key="Bubbles" value="../../Resources/bubbles.bmp" />
		<add key="Items" value="../../Resources/Items.bmp" />
		
		<add key="Grenade" value="../../Resources/grenade.bmp" />
		<add key="SlideMine" value="../../Resources/SlideMine.bmp" />
		<add key="Mine" value="../../Resources/mine.bmp" />
		<add key="Bullet" value="../../Resources/bullet.bmp" />
		
		<add key="ExplosionPoint" value="../../Resources/explosionpoint.png" />
		<add key="ExplosionLight" value="../../Resources/light.png" />
		
		<add key="GooFx" value="../../Resources/Goo.fx" />
		<add key="GooMesh" value="../../Resources/gooMesh.X" />
		<add key="GooColor" value="../../Resources/goo.tga" />
		<add key="GooNormal" value="../../Resources/GooNormalTexture.dds" />
		<add key="GooHeight" value="../../Resources/GooHeightTexture.dds" />
		
		<add key="WallFx" value="../../Resources/Wall.fx" />
		<add key="WallMesh" value="../../Resources/Wall.X" />
		
		<add key="PipeFx" value="../../Resources/Pipe.fx" />
		<add key="PipeMesh" value="../../Resources/Pipe.X" />
		
		<add key="BgMusic" value="../../Resources/music.wav" />
		<add key="SoundExplosion" value="../../Resources/explosion.wav" />
		<add key="SoundGun" value="../../Resources/gun.wav" />
		<add key="SoundStep" value="../../Resources/step.wav" />
	</appSettings>
</configuration>
